<calendar class="@Class">

    <row class="calendar__top-buttons">
        <Button Header="Today" OnClick="@(() => HandleSelectedDateChanged(DateTime.Now.Date))" />
        <Button Header="Yesterday" OnClick="@(() => HandleSelectedDateChanged(DateTime.Now.Date.AddDays(-1)))" />
        <Button Header="Week Ago" OnClick="@(() => HandleSelectedDateChanged(DateTime.Now.Date.AddDays(-7)))" />
        <Button Header="Month Ago" OnClick="@(() => HandleSelectedDateChanged(DateTime.Now.Date.AddMonths(-1)))" />
    </row>

    <SpaceBetweenPanel Class="calendar__header">
    <row>
        <IconButton Icon="Icons.ArrowDoubleLeft" OnClick="@(() => SelectedMonthStartDate = SelectedMonthStartDate.AddYears(-1))" />
        <IconButton Icon="Icons.ArrowLeft" OnClick="@(() => SelectedMonthStartDate = SelectedMonthStartDate.AddMonths(-1))" />
    </row>
        <div class="calendar__status-text">@SelectedMonthStartDate.ToString("MMMM yyyy")</div>
    <row>
        <IconButton Icon="Icons.ArrowRight" OnClick="@(() => SelectedMonthStartDate = SelectedMonthStartDate.AddMonths(1))" />
        <IconButton Icon="Icons.ArrowDoubleRight" OnClick="@(() => SelectedMonthStartDate = SelectedMonthStartDate.AddYears(1))"/>
    </row>
    </SpaceBetweenPanel>
    
    <div class="test">
    <div class="calendar__days-grid">
    @foreach (var day in SelectedMonthStartDate.CalculateGridStart().GetDaysWithinWeek(weeksCount: 6)) {
    <ToggleButton Header="@day.Date.Day.ToString()"
                    Class="@IsCurrentMonth(day).F("another-month")"
                    IsToggled="SelectedDate == day"
                    OnToggled="@(() => HandleSelectedDateChanged(day))" />
    }
    </div>
    </div>
</calendar>

@code {
    [Parameter] public DateTime SelectedDate { get; set; }
    [Parameter] public EventCallback<DateTime> SelectedDateChanged { get; set; }

    public bool IsCurrentMonth(DateTime date) => date.Month == SelectedMonthStartDate.Month;

    public DateTime SelectedMonthStartDate { get; set; }

    protected override void OnParametersSet() {
        SelectedMonthStartDate = new DateTime(
            SelectedDate.Year,
            SelectedDate.Month,
            1);
    }

    public void
    HandleSelectedDateChanged(DateTime date) {
        SelectedDateChanged.InvokeAsync(date);
    }
}