@page "/calendar"

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<div class="@(isCalendarOpened ? "day-picker opened" : "day-picker closed")" @onclick="() => SwitchCalendarState()">
    <div>@selectedDay.ToString("dd MMM yyyy")</div>
    <div>▼</div>
</div>


@if (isCalendarOpened) {
  
    <div class="calendar">

        <div class="top-row">
            <div class="top-row button" @onclick="() => SetToday()">Today</div>
            <div class="top-row button" @onclick="() => SetYesterday()">Yesterday</div>
            <div class="top-row button" @onclick="() => SetWeekAgo()">Week Ago</div>
            <div class="top-row button" @onclick="() => SetMonthAgo()">Month Ago</div>
        </div>

        <div class="grid-header">
            <div class="grid-header button" @onclick="() => SetYearAgo()">◄◄</div>
            <div class="grid-header button" @onclick="() => SetMonthAgo()">◄</div>
            <div class="grid-month">@selectedDay.ToString("MMMM yyyy")</div>
            <div class="grid-header button" @onclick="() => SetNextMonth()">►</div>
            <div class="grid-header button" @onclick="() => SetNextYear()">►►</div>
        </div>

        <div class="calendar-grid">
            @foreach (var day in calendar) {
                <div class="@(SetDayStyle(day))" @onclick="() => SetDay(day)">
                    @day.Date.Day
                </div>
            }
        </div>
    </div>
}
@code {
    private string
    SetDayStyle (CalendarDay day) => day.IsCurrentMonth ? (day.IsSelected ? "day day-selected" : "day") : "day day-muted";    // сюда также можно добавить закрытие календаря после выбора даты, или например добавить проверку на IsCurrentMonth,чтобы предыдущий месяц сначала перестраивал таблицу, а потом уже выбиралась дата вторым кликом.
}
